/* CSS Document */

ul {
	list-style: none;
	background: #3C3CA1;
}

ul li {
	display: inline-block;
	position: relative;
}

ul li a {
	display: block;
	padding: 2px 10px;
	color: #025875;
	text-decoration: none;
	text-align: center;
	font-size: 15px;
}

ul li ul.dropdown li {
	display: block;
}

ul li ul.dropdown {
	width: 100%;
	background: #6767C3;
	position: absolute;
	z-index: 999;
	display: none;
}

ul li a:hover {
	background: #B2B2FF;
}

ul li:hover ul.dropdown {
	display: block;
}

a:link, a:visited {
  background-color: #3C3CA1;;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
	color: white;
  background-color: #B2B2FF;
}

.dropbtn {
  background-color: #B2B2FF;
  color: white;
  padding: 7px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #B2B2FF;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #6767C3;}

/* main mobile menu ^ */

/* menu inside of the main mobile menu v */

.dropbtn2 {
  background-color: #3C3CA1;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
font-family: "Abhaya Libre Medium";
}

.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #3C3CA1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
	font-family: "Abhaya Libre Medium";
}

.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
	font-family: "Abhaya Libre Medium";
}

.dropdown-content2 a:hover {background-color: #B2B2FF;}

.dropdown2:hover .dropdown-content2 {display: block;}

.dropdown2:hover .dropbtn2 {background-color: #B2B2FF;}
